[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    changed = diff --name-only HEAD^1
[user]
    name = Nate Walck
    email = nate.walck@gmail.com
[color]
    ui = true
[core]
    excludesfile = ~/.gitignore
    editor = /usr/bin/vi

[hub]
    protocol = https

[push]
    default = simple
